/************ IMPORTACIO FONT PER CONTINGUTS ************/

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/************ MEDIA QUERIES: RESPONSIVE ************/

/************ INICI CSS ************/
*{
    font-family: 'Montserrat', sans-serif;
}
body {
    padding: 0;
    margin: 0;
}

/***************** IMATGES *****************/
.muntanya {
    width: 100%;
}
/***************** LINKS *****************/
a{
    color: blue;
    transition: color 2s;
}
a:hover {
    color: red;
}