.numero{
	width:60px;
	height:60px;
	background-color: bisque;
	
	
}

.igual{
	width:150px;
	height:60px;
	
}

table{
	margin:auto;
	background-color: rgb(160, 140, 49);
	border-radius: 7px;
}

.color_display{
	height:30px;
	background-color:rgb(73, 72, 72);
	border:medium #FFF;
	font: "Space Age";
	color:rgb(0, 255, 34);
	font-size:18px;
	text-align:right;
	padding:5px;
}